<!DOCTYPE html>
<html>
  <head>
    <title>World Archive | Log In!</title>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://ryanwaite28.github.io/my-cdn/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="https://ryanwaite28.github.io/my-cdn/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="https://ryanwaite28.github.io/my-cdn/css/emerald.css"/>
    
    <link rel="stylesheet" type="text/css" href="/static/css/grand.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/welcome.css"/>
    <link rel="icon" type="image/png" size="20x20" href="/static/img/ancient-icon-1.png"/>

    <script src="https://ryanwaite28.github.io/my-cdn/js/jquery.js"></script>
    <script src="https://ryanwaite28.github.io/my-cdn/js/bootstrap.js"></script>
    <script src="https://ryanwaite28.github.io/my-cdn/js/parallax/parallax.min.js"></script>
    <script src="https://ryanwaite28.github.io/my-cdn/js/angular.js"></script>

    <script src="/static/js/apps/login-app.js"></script>
  </head>

  <body ng-app="loginApp" ng-controller="loginCtrl">

    <!-- Top Bar -->

    {% include "topbar-1.html" %}

    <!-- Contents -->

    <div id="main-contain" class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="spacr-1">
            <h1 class="text-center">Login</h1>
            <hr>

          </div>
        </div>
      </div>

    </div>

  </body>
</html>
