<div id="topbar" class="black-grade">
    <div id="tb-m">
      <a class="transition" title="Welcome Page" href="/">
        <img class="transition" id="top-icon" alt="Icon" src="/static/img/ancient-icon-1.png"/>
      </a>
    </div>
    <div id="tb-l">
      <ul class="ul-raw top-links">
        <li><a title="" hred="">People</a></li>
        <li><a title="" hred="">Events</a></li>
      </ul>
    </div>
    <div id="tb-r">
      <ul class="ul-raw top-links">
        <li><a title="Login Page" href="/login">Log In</a></li>
        <li><a title="Signup Page" href="/signup">Sign Up</a></li>
      </ul>
    </div>
</div>
